@use '../../partials/variables' as *;
@use '../../partials/font-scale' as *;
@use '../../partials/mixins' as *;

.individual-listing {
  display: flex;
  flex-direction: column;
  padding: 0 $general-mobile-padding;

  &__header {
    @include hero-header;
    text-align: center;
    margin: 0 0 $general-mobile-padding 0;
  }

  &__like-button-container {
    display: flex;
    justify-content: flex-end;
  }

  &__like-button {
    height: 2rem;
  }

  &__image-container {
    height: 18rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: $border-radius;
    position: relative;
    overflow: hidden;
  }

  &__image-counter {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #ffffff50;
    margin-right: 5px;

    &:last-child {
      margin: 0;
    }

    &--active {
      @extend .individual-listing__image-counter;
      background-color: #fff;
    }
  }

  &__counter-container {
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    width: calc(100% - 2rem);
  }

  &__image {
    border-radius: $border-radius;
    height: 100%;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    @include tablet {
      border-radius: unset;
    }
  }

  &__side-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__side-image-container {
    height: 9rem;
    width: 6rem;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 0.5rem;
  }

  &__side-image {
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: row;
    padding: $general-mobile-padding 0;
  }

  &__details-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25%;
  }

  &__details-left {
    padding-right: 1rem;
  }

  &__text {
    @include sub-header;
    margin: 0;
    margin-bottom: 1rem;

    &--light {
      @extend .individual-listing__text;
      color: $light-font;
    }

    &--bold {
      @extend .individual-listing__text;
      font-weight: 700;
    }
  }

  &__features {
    width: 100%;
    padding: 0;
    margin: 0;
    @include paragraph-and-comments;
  }

  &__contact-info {
    padding: 0;
  }

  &__list-heading {
    margin: 0;
    padding: 0;
    @include sub-header;
  }

  &__list-item {
    margin-left: 1rem;
    @include paragraph-and-comments;
  }
}
