@use '../../partials/variables' as *;
@use '../../partials/font-scale' as *;
@use '../../partials/mixins' as *;

.form {
  margin: $general-mobile-padding;
  margin-top: 0;

  &__element-container {
    border: 1px solid $divider-line;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 1rem;

    &--comment {
      @extend .form__element-container;
      margin-bottom: 0;
      margin-top: 1rem;
    }
  }

  &__header {
    @include page-header;
    margin: 0;
    padding-bottom: $general-mobile-padding;
  }

  &__sub-header {
    @include sub-header;
    margin: 0;
  }

  &__label {
    @include labels;
    font-weight: 500;
  }

  &__input {
    outline: none;
    border: none;
    font-family: inherit;
  }

  &__inner-container {
    display: flex;
  }

  &__inner-left {
    border-right: 1px solid $divider-line;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__inner-right {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    justify-content: center;
  }

  &__check-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1rem;
  }

  &__select {
    border: none;
    outline: none;
  }
}
