@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/font-scale' as *;

.App {
  color: $primary-font;
  font-family: "Nunito", sans-serif;
  width: 400px;
  background-color: white;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
}

.button {
  padding: 1rem;
  background-color: $primary-color;
  color: $primary-light;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  width: 100%;

  @include buttons;

  &:hover {
    background-color: unset;
    border: 2px solid $primary-color;
    color: $primary-color;
  }

  &--back {
    @extend .button;
    width: 33%;
    margin-right: 1rem;
    background-color: $primary-font;

    &:hover {
      background-color: unset;
      border: 2px solid $primary-font;
      color: $primary-font;
    }
  }

  &--reverse {
    @extend .button;
    background-color: unset;
    border: 2px solid $primary-color;
    color: $primary-color;

    &:hover {
      border: none;
      background-color: $primary-color;
      color: $primary-light;
    }
  }
}
