@use '../../partials/variables' as *;
@use '../../partials/font-scale' as *;
@use '../../partials/mixins' as *;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  // width: 100%;
  width: 400px;
  overflow-y: hidden;
  background-color: white;
  padding-top: 4rem;
  z-index: 10;
}

.login-container {
  width: 100%;
}

.emphasize {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
