@use '../../partials/font-scale' as *;
@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.comments-section {
  border-top: 1px solid $divider-line;
  &__header {
    @include sub-header;
    font-weight: 600;
    margin: 0;
    padding: $general-mobile-padding 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $divider-line;
    margin: 0;
  }

  &__image {
    padding-top: 2rem;
    padding-right: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding-bottom: $general-mobile-padding;
    width: 100%;
  }

  &__form-content {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__label {
    text-transform: uppercase;
    @include labels;
    color: $primary-font;
    padding: 0.5rem 0;
    font-weight: 600;
  }

  &__text-area {
    @include paragraph-and-comments;
    background-color: $comment-background;
    border: 1px solid $divider-line;
    border-radius: $border-radius;
    width: 100% !important;
    outline: none;
    padding: 1rem;
    font-family: inherit;
    height: 6rem !important;
    box-sizing: border-box;

    &::placeholder {
      color: $light-font;
    }

    &:focus {
      border: 2px solid $primary-color;
    }
  }

  &__input {
    display: none;
    background-color: $comment-background;
    border: 1px solid $divider-line;
    border-radius: $border-radius;
    outline: none;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;

    &::placeholder {
      color: $light-font;
    }

    &:focus {
      border: 2px solid $primary-color;
    }

    &--name {
      @extend .comments-section__input;
      display: unset;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__button {
    padding: 0.5rem 1rem;
    background-color: $primary-color;
    color: $primary-light;
    border-radius: 50px;
    border: none;
    font-family: inherit;
    font-weight: 700;
    width: 35%;

    @include buttons;

    &:hover {
      background-color: unset;
      border: 2px solid $primary-color;
      color: $primary-color;
    }

    &--cancel {
      @extend .comments-section__button;
      background-color: unset;
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }
}

.error {
  border: 1px solid $error-color;
}

.error-text {
  font-size: 12px;
  color: $error-color;
}
