@use '../../partials/variables' as *;
@use '../../partials/font-scale' as *;
@use '../../partials/mixins' as *;

.footer {
  display: flex;
  flex-direction: column;
  padding: $general-mobile-padding;

  &__info-container {
  }

  &__header {
    @include paragraph-and-comments;
  }

  &__text {
    @include lists-and-contact-info;
    margin: 0;
  }
}
