@use '../../partials/font-scale' as *;
@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.header {
  background-color: $primary-light;
  padding: $general-mobile-padding;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__list-item {
    list-style: none;
    margin-left: $general-mobile-padding;
    cursor: pointer;
    @include paragraph-and-comments;

    &:hover {
      font-weight: 700;
    }

    &--logout {
      @extend .header__list-item;
      cursor: pointer;
    }
  }

  &__link {
    text-decoration: none;
    color: $primary-font;

    &--active {
      @extend .header__link;
      font-weight: 700;
    }
  }
}
