@use '../../partials/variables' as *;
@use '../../partials/font-scale' as *;
@use '../../partials/mixins' as *;

.listing-card {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  position: relative;
  padding: 0 $general-mobile-padding;
  overflow: hidden;

  &__header {
    @include sub-header;
    margin: 0;
    text-align: center;
  }

  &__image-container {
    height: 15rem;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    border-radius: $border-radius;
  }

  &__image-counter {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #ffffff50;
    margin-right: 5px;

    &:last-child {
      margin: 0;
    }

    &--active {
      @extend .listing-card__image-counter;
      background-color: #fff;
    }
  }

  &__counter-container {
    position: absolute;
    top: 13rem;
    display: flex;
    justify-content: center;
    width: calc(100% - 2rem);
  }

  &__image {
    border-radius: $border-radius;
    height: 100%;
    object-fit: contain;
    // transition: transform 0.3s;

    // &:hover {
    //   transform: scale(1.2);
    // }
  }

  &__right-arrow {
    position: absolute;
    height: 2rem;
    right: 0;
    top: 30%;
    width: 3rem;
  }

  &__left-arrow {
    position: absolute;
    height: 2rem;
    left: 0;
    top: 30%;
    width: 3rem;
  }

  &__description {
    position: relative;
    background-color: white;
    border-radius: 0 0 $border-radius $border-radius;
    padding: 1rem;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: $primary-font;
  }

  &__text {
    @include paragraph-and-comments;
  }

  &__cost {
    @include paragraph-and-comments;
    font-weight: 700;
  }
}
