$primary-color: #000073;

$primary-color--underline: #00007390;

// $light-background: #f1f1f1;

$light-background: #f7f1f1;

// $light-background: #e5f4e3;

$secondary-light: #c0c0c0;

$dark-primary: #000045;

$primary-font: #1c1c1c;

$primary-light: white;

$divider-line: #cacaca;

$light-blue: #5da9e9;

// $light-blue: #4c4c9d;

$tablet-width: 768px;

$desktop-width: 1280px;

$mobile-section-padding: 0 1rem;

$tablet-section-padding: 0 1.5rem;

$general-mobile-padding: 1rem;

$general-tablet-padding: 1.5rem;

$mobile-header-padding: 1rem 0 0.5rem 0;

$tablet-header-padding: 1.5rem 0 1rem 0;

$border-radius: 8px;
